h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

a {
    text-decoration: none;
    color:darkred;
}
.indented {
    padding-left: 50pt;
    padding-right: 50pt;
}